POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=employee_management
POSTGRES_PORT=5432

DB_APP_USER=springconnector
DB_APP_PASSWORD=springconnector

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/employee_management