@use '@angular/material' as mat;

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    accent: mat.$orange-palette,
  )
));

@include mat.all-component-colors($dark-theme);